.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 600px;
}

.select {
  font-size: 18px;
  padding: 6px 10px;
  margin: 10px 0;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.select:hover {
  background-color: rgba(112, 76, 182, 0.2);
}

.select:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

blockquote {
  font-style: italic;
  margin: 20px;
  padding: 10px 15px;
  border-left: 4px solid rgba(112, 76, 182, 0.4);
  background: #f9f9f9;
  border-radius: 4px;
}

footer {
  text-align: right;
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}
