.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(112, 76, 182);
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #ddd;
}
